/* Color Pallete Project Kelompok 8 */

:root {
    --color-serene-blue: #A7D9FF;
    --color-ocean-teal: #00ADB5;
    --color-deep-ocean-blue: #222831;

    --color-white: #FFFFFF;
    --color-soft-grey: #393E46;
    --color-warning-red: #EF5350;
}