/* Login Styles */
.login-wrapper .login-input{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.login-wrapper .login-button{
  position: relative;
  top: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #39a7fc;
  color: #f4f4f4;
  transition: 0.3s ease;
}

.login-wrapper .login-button:hover{
  background-color: #A7D9FF;
  transform: translateY(-3px);
}

.login-wrapper .login-input::placeholder{
  font-weight: 400;
  font-size: 14px;
}

.login-wrapper .login-input:focus{
  outline: none;
  border: 2px solid #39a7fc;
  box-shadow: 0 0 2px 2px rgba(57, 62, 70, 0.1);
}

/* Register Styles */
.reg-wrapper .reg-input{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.reg-wrapper .reg-button{
  position: relative;
  top: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #39a7fc;
  color: #f4f4f4;
  transition: 0.3s ease;
}

.reg-wrapper .reg-button:hover{
  background-color: #A7D9FF;
  transform: translateY(-3px);
}

.reg-wrapper .reg-input::placeholder{
  font-weight: 400;
  font-size: 14px;
}

.reg-wrapper .reg-input:focus{
  outline: none;
  border: 2px solid #39a7fc;
  box-shadow: 0 0 2px 2px rgba(57, 62, 70, 0.1);
}

/* Create Ticket Styles */
.createTicket-wrapper .createTicket-input{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.createTicket-wrapper .createTicket-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  cursor: pointer;
  background-color: var(--color-soft-grey);
  color: #ffff;
  text-decoration: none;
  margin-top: 55px;
  transition: background-color 0.2s ease-in;
}

.createTicket-wrapper .createTicket-button:hover{
  background-color: var(--color-deep-ocean-blue);
}

.createTicket-wrapper .createTicket-input::placeholder{
  font-weight: 400;
  font-size: 14px;
}

.createTicket-wrapper .createTicket-input:focus{
  outline: none;
  border: 2px solid var(--color-soft-grey);
  box-shadow: 0 0 2px 2px rgba(57, 62, 70, 0.1);
}

.createTicket-wrapper .createTicket-button .material-symbols-outlined {
    font-size: 18px;
    margin-left: 7px;
    line-height: 1;
}

/* Main Styles */
.main-wrapper .main-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--color-serene-blue);
  color: var(--color-soft-grey);
  text-decoration: none;
  margin-top: 55px;
  transition: all 0.2s ease-in;
}

.main-wrapper .main-button:hover{
  border: 1px solid var(--color-serene-blue);
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--color-serene-blue);
}

.main-wrapper .main-button .material-symbols-outlined {
    font-size: 18px;
    margin-left: 7px;
    line-height: 1;
}